body {
  background: black;
}

#drum-machine {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  border-radius: 10px;
  background: #555;
}

h1 {
  grid-column: 1 / 4;
  text-align: center;
  color: limegreen;
  text-shadow: 2px 2px 14px #A3A4A3;
}

#display-box {
  grid-column: 1 / 4;
  background-color: white;
  max-width: 150px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid green;
  min-width: 150px;
  min-height: 75px;
  max-height: 75px;
}

#display {
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0 0 0;
}

.drum-pad {
  background: #ddd;
  height: 125px;
  width: 125px;
  border-radius: 15px;
  margin-top: 15px;
  justify-self: center;
  margin-bottom: 15px;
  border: 1px solid green;
  transition: all 0.3s;
}

.drum-pad-text {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
}

.playing {
  -webkit-box-shadow: 0px 0px 25px 1px rgba(2,199,25,0.79);
  -moz-box-shadow: 0px 0px 25px 1px rgba(2,199,25,0.79);
  box-shadow: 0px 0px 25px 1px rgba(2,199,25,0.79);
  transform: scale(1.1);
}
